*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: xx-large;

}

.topBar{
    padding: 50px;
    background-color: brown;

}

.topBar h1{
    color: white;

}



.weekUpdates{
    display: flex;
    flex-direction: row;
    background-color: rgb(43, 43, 43);
    color:white;
    padding: 20px;
    align-items: center;
    justify-content: center;

}

.noticias-semana{
    color: khaki;

}

.listaPostagens{
   display: flex;
   flex-direction: row;
   padding: 20px;
   align-items: center;
   justify-content: center;
   font-size: x-large;
   font-weight: bolder;
  


}

.titulo-post{
    padding: 20px;
    display: flex;
    flex-direction: row;
    background-color: brown;
    color: white;
    justify-content: center;
    font-weight: bolder;

}

/* Cadastrar */

.cadastros{
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
    border-radius: 1rem;
    padding: 2rem;
}

.cadastroMain{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;

}

.cadastroMain p {
    padding: 10px;
    font-weight: bold;
    color: rgb(68, 68, 68);

}

.cadastroMain input {
    padding: 10px;
    width: 70%;

}

.cadastroMain textarea {
    padding: 10px;
    width: 70%;
    height: 100px;

}

.cadastroMain button {
    padding: 20px;
    width: 50%;
    margin-top: 1rem;
    border: 0rem;
    background-color: brown;
    color: white;
    font-weight: bold;
    border-radius: 0.2rem;
    
}

.cadastroMain button:hover {
    padding: 20px;
    width: 50%;
    margin-top: 1rem;
    border: 0rem;
    background-color: rgb(104, 37, 37);
    color: white;
    font-weight: bold;
    border-radius: 0.2rem;
    
}

/* Login */

.topLogin{
    padding: 20px;
    background-color: brown;
    color: white;
    text-align: center;

}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;

}

.login input{
    padding: 10px;
    margin: 1rem;
}

.loginButton button{
    padding: 20px;
    width: 10rem;
    margin-top: 1rem;
    border: 0rem;
    background-color: brown;
    color: white;
    font-weight: bold;
    border-radius: 0.2rem;
}

.loginButton button:hover{
    padding: 20px;
    width: 10rem;
    margin-top: 1rem;
    border: 0rem;
    background-color: rgb(105, 37, 37);
    color: white;
    font-weight: bold;
    border-radius: 0.2rem;
}
